{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Change Password
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'app.css' %}">
    <link rel="stylesheet" href="{% static 'registration/password_change.css' %}">
{% endblock %}

{% block content %}
    <div id="change-pass">
        <h2>Change Your Password</h2>
        <p>Enter a new password to change the old one.</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Change">
        </form>
    </div>
{% endblock %}