{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Newspaper
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'app.css' %}">
    <link rel="stylesheet" href="{% static 'articles/remove_article.css' %}">
{% endblock %}

{% block content %}
    <div class="remove-article">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Remove">
        </form>
    </div>
{% endblock %}